{% extends 'modal.html' %}

{% block modal_title %} Crear Estudiante {% endblock modal_title %}

{% block modal_body %}
<form id="formulario" action="{% url 'crear_estudiante' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_nombre">Nombre:</label>
        {{ form.nombre }}
    </div>
    <div class="form-group">
        <label for="id_apellidos">Apellidos:</label>
        {{ form.apellidos }}
    </div>
    <div class="form-group">
        <label for="id_num_id">Identificación:</label>
        {{ form.num_id }}
    </div>
    <div class="form-group">
        <label for="id_fec_nac">Fecha de Nacimiento:</label>
        {{ form.fec_nac }}
    </div>   
</form>
{% endblock modal_body %}

{% block modal_button %}
<button type="button" onclick="estudiante()" class="btn btn-primary">Guardar</button>
{% endblock modal_button %} 