{% extends 'modal.html' %}

{% block modal_title %} Crear Profesor {% endblock modal_title %}

{% block modal_body %}
<form id="formProfesor">
    {% csrf_token %}
    <div class="row mb-3">
        <label for="id_nombre" class="col-sm-2 col-form-label">Nombre:</label>
        <div class="col-sm-10">
            {{ formProfesor.nombre }}
        </div>
    </div>
    <div class="row mb-3">
        <label for="id_apellidos" class="col-sm-2 col-form-label">Apellidos:</label>
        <div class="col-sm-10">
            {{ formProfesor.apellidos }}
        </div>
    </div>
    <div class="row mb-3">
        <label for="id_num_id" class="col-sm-2 col-form-label">ID:</label>
        <div class="col-sm-10">
            {{ formProfesor.num_id }}
        </div>
    </div>
       
</form>
{% endblock modal_body %}

{% block modal_button %}
<button type="button" onclick="formularioProfesor()" class="btn btn-primary">Guardar</button>
{% endblock modal_button %} 