{% extends 'layout.html' %}
{% load static %}

{% block title%} Matricula | Crear {% endblock %}
  
{% block style %}

{% endblock style %}

{% block menu %}

{% endblock menu %}

{% block main %}
<div class="card">
    <div class="card-header">
        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">Crear Matricula</h3>
    </div>
    <div class="card-body">
        <form action="">
            <div class="row mb-3">
                <label for="id_estudiante" class="col-sm-1 col-form-label">Estudiante:</label>
                <div class="col-sm-10">
                    {{ formMatricula.estudiante }}
                </div>
                <div class="col-sm-1">
                    <button type="button" id="btnEstudiante" class="btn">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row mb-3">
                <label for="id_curso" class="col-sm-1 col-form-label">Curso:</label>
                <div class="col-sm-10">
                    {{ formMatricula.curso }}
                </div>
                <div class="col-sm-1">
                    <a class="btn" href="{% url 'crear_grupo' %}"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            <div class="row mb-3">
                <div class="mb-3">
                    <div class="form-check form-switch">
                        {{ formMatricula.estado }}
                        <label class="form-check-label" for="id_estado">Estado</label>
                    </div>    
                </div>
            </div>
        </form>
        
    </div>
</div>

{% endblock main %}


{% block script %}
<script>    
    function formEstudiante(){
        formulario = $('#formEstudiante').serialize();
        url = "{% url 'crear_estudiante' %}";
        gestionForm(url, formulario)
    }

    $(function() {         
        $("#btnEstudiante").click(function(){ 
            url = "{% url 'crear_estudiante' %}";         
            ejecutarModal(url);                 
        });      
    });
</script>
{% endblock script %}
